<% @restaurants.each do |restaurant| %>
  <div>
    <%= link_to(restaurant.name, restaurant_path(restaurant)) %> - 
    <%= restaurant.address %>
    </div>
<% end %>
<%= link_to "Add New", new_restaurant_path %>